{% extends "base.html.twig" %}

{% block title %}Chocobar.bz - Modifier l'ingrédient
{% endblock %}

{% block body %}

	<h1>Modifier l'ingrédient "{{ ingredient.name }}"</h1>
    {{ form(form) }}

{% endblock %}