{% extends "base.html.twig" %}

{% block title %}Chocobar.bz - Accueil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
	<link href="{{ asset('styles/home/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<h1>Chocobar.bz</h1>

{% endblock %}
