{% extends "base.html.twig" %}

{% block title %}Chocobar.bz - Modifier la recette
{% endblock %}

{% block body %}

	<h1>Modifier la recette "{{ recipe.name }}"</h1>
    {{ form(form) }}

{% endblock %}