{% extends "base.html.twig" %}

{% block title %}Chocobar.bz - Inscription
{% endblock %}

{% block body %}

	{% block header %}{% endblock %}

	<h1>Inscrivez-vous !</h1>

	{{ form(form) }}
{% endblock %}
